/*  =RESET 
----------------------------------------------------------------------------- */

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

button,
input {
    /* 1 */
    overflow: visible;
}

button,
select {
    /* 1 */
    text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/*  =UTILITY
----------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

/*  =GENERIC
----------------------------------------------------------------------------- */

html {
    font-size: 62.5%;
}

body {
    background: #d8d9e2;
    color: #000;
    font-family: 'Manrope', Arial, sans-serif;
    -webkit-overflow-scrolling: touch;
    font-size: 1.2rem;
}

:root {
}

/*  =MAIN
----------------------------------------------------------------------------- */

main {
    background: #3d61c7;
    border-radius: 20px;
    margin: 40px auto;
    width: 980px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

header {
    background: #3d61c7;
    margin: 0;
    color: #fff;
    padding: 40px;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.core {
    padding: 30px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 40px;
}

table th {
    height: 40px;
    font-size: 1.8rem;
    border: 2px solid rgba(0, 0, 0, 0.05);
    text-align: left;
    background: rgba(0, 0, 0, 0.05);
    padding: 0 20px;
    color: #333;
    font-weight: 700;
}

table td {
    text-align: left;
    padding: 0 20px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    font-size: 1.5rem;
    height: 40px;
}

table .remove {
    text-decoration: none;
    font-weight: bold;
    color: #f03a17;
}

table .read {
    text-decoration: none;
    font-weight: bold;
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 300px;
    height: 300px;
}

.btn {
    background: #ffda55;
    color: #000;
    font-weight: bold;
    font-size: 1.6rem;
    border: 0;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    opacity: 0.7;
}

footer {
    text-align: center;
}

footer a {
    color: #3d61c7;
}

footer a:hover {
    text-decoration: none;
}
